* {
  list-style: none;
  text-decoration: none;
  color: black;
  margin: 0;
  padding: 0;
}

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
}

.brand-card {
  display: flex;
  align-items: center;
  border: 1px solid;
  border-radius: 0.25rem;
  padding: 0.25rem;
  background-color: white;
}

.brand-logo {
  height: 2rem;
}

.primary-navigation {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  border-radius: 9999px;
  padding: 1rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  visibility: hidden;
}

.primary-navigation ul {
  display: flex;
  gap: 1rem;
}

@media (min-width: 768px) {
  .primary-navigation {
    visibility: visible;
  }
}

.content-row {
  padding: 5rem 2rem;
  margin: 0 auto;
  max-width: 56rem;
  scroll-margin-top: 5rem;
}

.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 80vh;
}

.hero-logo {
  height: 10rem;
}